// $color-bg: #111;

$color-bg: linear-gradient(135deg, #0f0f0f 0%, #1a1d1f 40%, #6d0d10 100%);
$color-text: #fff;
$color-muted: #bbb;
$color-accent: #e50914;
$color-accent-animation: #78050b;
$color-border: #2a2d31;
$color-panel-1: #1a1d21;
$color-panel-2: #14171a;
$header-bg: rgba(0, 0, 0, .60);
$footer-bg: rgba(0, 0, 0, .70);

$font-base: 'Montserrat', sans-serif;

$max-w: 1200px;
$gutter: 20px;

$z-header: 1000;